table {
  border-collapse: collapse; 
  width: 100%;
}

/* Aquí aplicamos el borde y el espacio a la tabla Y a las celdas a la vez */
table, th, td {
  border: 1px solid black;
}

/* El padding y la alineación es mejor ponérselo directo a las celdas */
th, td {
  padding: 8px;
  text-align: left;
}