*{ box-sizing: border-box; margin:0; padding:0; }

html, body{
  height: 100%;
}

body{
  background:#E6E6E6;
  font-family: monospace;
  font-size: 17px;
  line-height: 1.6;
  overflow: hidden;           
}

#contenedor{
  width: min(1400px, calc(100vw - 20px)); 
  height: calc(100vh - 20px);             
  margin: 20px auto;                          
  background: white;
  border: 1px solid black;

  display: grid;
  grid-template-rows: auto auto 1fr auto; 
}

header#top{
  padding: 6px 15px;
  background: #fff;
  border-bottom: 1px solid black;
}

#marca img{
  height: 50px;
  display: block;
}

nav#menu{
  background: #fff;
  border-bottom: 1px solid black;
  padding: 6px 10px;
  text-align: center;
  position: relative;
  font-weight: bold;
}

nav#menu a{
  color:#111;
  text-decoration:none;
  margin: 0 12px;
  font-size: 18px;
}
nav#menu a:hover{ text-decoration: underline; }

button.hamburger{
  border: 1px solid black;
  background: white;
  width: 44px;
  height: 34px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  vertical-align: middle;
}

#desplegable{
  display:none;
  position:absolute;
  right:10px;
  top:40px;
  background:white;
  border:1px solid black;
  padding:10px;
  width:180px;
  text-align:left;
  z-index: 999;
}

#desplegable a{
  display:block;
  margin:8px 0;
  color:#111;
  text-decoration:none;
}
#desplegable a:hover{ text-decoration: underline; }

footer{
  padding: 18px;
  background-color: #3B424A;
  color: white;
  text-align: center;
}

#contenedor > .contenido{
  display: grid;
  grid-template-columns: 1fr 320px; 
  min-height: 0;                  
}

main{
  min-height: 0;
  overflow-y: auto;    
  padding: 25px;
}

aside{
  min-height: 0;
  overflow-y: auto;     
  padding: 20px;
  border-left: 1px solid black;
  background: #fff;
}


main figure{
  margin: 35px 0;
  text-align: center;
}

main figure img{
  width: 75%;
  max-width: 750px;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
}

main figcaption{
  margin-top: 15px;
  font-size: 16px;
  text-align: left;
}


@media (max-width: 900px){
  #contenedor{
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    margin: 5px;
  }

  #contenedor > .contenido{
    grid-template-columns: 1fr;
  }

  aside{
    border-left: 0;
    border-top: 1px solid black;
  }

  main figure img{
    width: 95%;
    max-width: 100%;
  }
}

ul, ol {
    margin-left: 15px;   
    padding-left: 20px;  
}

h2 {
    margin-top: 15px; 
    margin-bottom: 15px; 
}

h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

table {
  border-collapse: collapse; 
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}